<h1 class="title">{{link-to 'Sarce Trainer' 'index'}}</h1>

<div class="navigation-bar">
  <ul>
    <li>{{link-to 'Question list' 'questions'}}</li>
    <li>{{link-to 'New question' 'new-question'}}</li>
  </ul>
</div>

{{outlet}}
